LearningWCF/Labs/Chapter3/CompletedLabs/WebServiceBindings/LegacyPhotoUploadClient/Web References/localhost/PhotoManagerService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.thatindigogirl.com/samples/2006/06" elementFormDefault="qualified" targetNamespace="http://schemas.thatindigogirl.com/samples/2006/06" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PhotoLink">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LinkItem">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PhotoLink" nillable="true" type="tns:PhotoLink" />
  <xs:complexType name="LinkItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element name="Title" nillable="true" type="xs:string" />
      <xs:element name="Description" nillable="true" type="xs:string" />
      <xs:element name="DateStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateEnd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
      <xs:element name="Category" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LinkItem" nillable="true" type="tns:LinkItem" />
  <xs:complexType name="MP3Link">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LinkItem">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MP3Link" nillable="true" type="tns:MP3Link" />
  <xs:complexType name="GigInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LinkItem">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GigInfo" nillable="true" type="tns:GigInfo" />
</xs:schema>