LearningWCF/Labs/Chapter3/CompletedLabs/WebServiceBindings/LegacyPhotoUploadClient/Web References/localhost/PhotoManagerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.thatindigogirl.com/samples/2006/06" elementFormDefault="qualified" targetNamespace="http://www.thatindigogirl.com/samples/2006/06" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3045/PhotoApplication/PhotoManagerService.svc?xsd=xsd2" namespace="http://schemas.thatindigogirl.com/samples/2006/06" />
  <xs:element name="UploadPhoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.thatindigogirl.com/samples/2006/06" minOccurs="0" name="fileInfo" nillable="true" type="q1:PhotoLink" />
        <xs:element minOccurs="0" name="fileData" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadPhotoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>